*{
    margin: 0px;
    padding: 0px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar{
    position: relative;
}

/* /* navbar logo */
#logo{
    margin: 10px 34px;
}


#logo img{
    width: 10%;
    height: 100%;
    border: 2px solid white;
    border-radius:100%;

    margin: 3px 6px;

}

#navbar ul {
    display: flex;

}
#navbar ::before {
    content:"";
    background-color:black ;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1; 
    opacity: 10;
    
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 4px 22px;
    border-radius:20px ;
    /* background-color: white; */
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

